apsw==3.40.1.0
beautifulsoup4==4.11.2
chardet==5.1.0
css-parser==1.0.8
dbus-next==0.2.3
html5-parser==0.4.10
html5lib==1.1
lxml==4.9.2
mechanize==0.4.8
msgpack==1.0.4
Pillow==9.4.0
py-notifier==0.3.2
PyQt6==6.4.1
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.1
python-dateutil==2.8.2
regex==2022.10.31
shiboken6==6.4.2
six==1.16.0
soupsieve==2.3.2.post1
webencodings==0.5.1
